@import "../../styles/styles.scss";

.form {
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding-bottom: 15px;
	@media screen and (max-width: 767px) {
		padding-bottom: 128px;
	}
}

.buttons {
	display: flex;
	justify-content: center;
}

.checkbox {
	padding: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.start {
		margin-right: 12px;
	}
	input {
		transform: scale(1.5);
		cursor: pointer;
	}
	input[type="checkbox"] {
		accent-color: #921034;
	}
	.band {
		max-width: 400px;
	}
	.checkbox-time {
		display: flex;
		justify-content: flex-end;
	}
}

.groups {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.group {
	margin: 8px;
	padding: 16px;
	background-color: #d8ebff;
	border-radius: 35px;
	width: 280px;
	transition: all 0.3s ease-out;

	.group-name {
		text-align: center;
		margin-bottom: 8px;
	}
	&:hover {
		background-color: #0a7fe4;
	}

	@media screen and (max-width: 767px) {
		max-width: 350px;
		width: 100%;
	}
}

h1 {
	text-align: center;
	margin-bottom: 8px;
	font-size: 20px;
}

.layout {
	margin-top: 24px;
	display: flex;
	flex-direction: column;
}
